.hidden{
    display: none !important;
}

  .btn-custom-green {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b134b !important;
    background-color: #00ff88 !important;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-family: 'Noto Sans', sans-serif;
    width: 160px;
}

  .btn-custom-red {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b134b !important;
    background-color: rgb(240, 44, 44) !important;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-family: 'Noto Sans', sans-serif;
    width: 160px;
}